<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RS2toBD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RS2toBD.Properties.Settings>
            <setting name="strConnect" serializeAs="String">
                <value>Data Source = 192.168.0.46; Initial Catalog = rs2; User ID = rs2admin; Password = 159951</value>
            </setting>
            <setting name="intPort" serializeAs="String">
                <value>5006</value>
            </setting>
            <setting name="strAdress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </RS2toBD.Properties.Settings>
    </userSettings>
</configuration>